In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set(rc={'figure.figsize':[9,9]},font_scale=1.2)

In [2]:
df=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
test_id=test['PassengerId']

In [3]:
def clean(df):
    df=df.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)
    cols=('SibSp','Parch','Fare','Age')
    for col in cols:
        df[col].fillna(df[col].median(),inplace=True)
        
    df.Embarked.fillna('U',inplace=True)
    return df
df=clean(df)
test=clean(test)
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [5]:
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.361582    0.523008    0.381594   32.204208
std      0.486592    0.836071   13.019697    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   22.000000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   35.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [6]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
cols=['Sex','Embarked']
for col in cols:
    df[col]=le.fit_transform(df[col])
    test[col]=le.transform(test[col])
    print(le.classes_)
df.head()

['female' 'male']
['C' 'Q' 'S' 'U']

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y=df['Survived']
x=df.drop(['Survived'],axis=1)

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [8]:
elf=LogisticRegression(random_state=0,max_iter=1000).fit(x_train,y_train)

In [9]:
pridection =elf.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pridection)

0.8100558659217877

In [10]:
sub_prid=elf.predict(test)

In [11]:
df= pd.DataFrame({'PassengerId':test_id.values,
                  'Survived': sub_prid,
                 })

In [12]:
df.to_csv('submission.csv',index=False)